{% extends "themebase.html" %}
{% block content %}
{% load static %}
<div class="container">
    <div class="image-container">
        <img src="{% static 'dark/d3.png' %}" alt="Meditation Image">
    </div>
    <div class="text-container">
        <h1> Sleep Programs!</h1>
        <p> Programs to help you fall asleep and stay rested
            </p>
        <div class="button-container">
            <div class="circle-wrapper">
                <button class="arrow-button" onclick="window.location.href='{% url 'theme4' %}'">➔</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
